<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Comedians</title>
  </head>
  <body>
    <h1>Here's all the comedians ever</h1>
    <div>
      <% all_comedians.each do |comedian| %>
      <p><%= comedian %>, <%= comedian.age %></p>
      <% end %>
    </div>
  </body>
</html>
